* {
margin:0;
padding:0;

}

body {
	font-size: 13px;
	line-height: 1.8;
	color: black;
	font-family: "PT Sans", Arial, sans-serif;
  min-height: 3151px;
	margin: 0;
	padding: 0;
}

.services h2 {
	font-size: 30px;
	font-family: "Cuprum", Arial, sans-serif;
	color: black;
	text-transform: uppercase;
	line-height: 0.8;
}

.services-delivery h2 {
	font-size: 36px;
	font-family: "Cuprum", Arial, sans-serif;
	color: rgb(61, 84, 110);
	line-height: 0.7;
}

.top-menu {
	margin: 0 auto;
	background-color: #33445a;
}

.container {
	margin: 0 auto;
	width: 940px;

}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.header-logo {
  width: 220px;
  text-align: center;
  background-color: #ff5357;
  float: left;
  height: 42px;
  vertical-align: middle;

}

.search {
  float: left;
  width: 260px;
  margin-right: 10px;
  text-align: center;
  margin-right: 25px;

}

.search input {
  background-color: #33445a;
  border: none;
  height: 41px;
  font-size: 17px;
  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;
}

.search:focus,
.search input:focus,
.search-icon:focus {
  background-color: #ffffff;
}

.search-icon {
  position: relative;
}

.search-icon::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -30px;
  width: 16px;
  height: 22px;
  background: url("../img/sprite.png") no-repeat;
  background-position: -53px -9px;
  opacity: 0.3;
}

.search-icon:focus::before {
  background: url("../img/sprite.png") no-repeat;
  background-position: -11px -9px;
  background-color: #ffffff;
}

.bookmarks, .cart {
  float: left;
  max-width: 185px;
  /*outline: 1px solid black;*/
}

.bookmarks {
  margin-right: 35px;
}

.bookmarks a,
.cart a {
  display: inline-block;
  vertical-align: top;
  padding: 5px 10px;
  padding-left: 30px;
  text-decoration: none;
  color: #ffffff;
  font-family: "Cuprum", sans-serif;
  font-size: 17px;
  position: relative;
}

.bookmarks a:hover,
.cart a:hover {
  background-color: #212a3a;
}

.bookmarks a::before,
.cart a::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 3px;
  width: 16px;
  height: 18px;
  background: url("../img/sprite.png") no-repeat;
  background-position: -178px -11px;
  opacity: 0.3;
}

.search input::before {
  left: 13px;
}

.cart a::before {
  background-position: -135px -11px;
  left: 0px;
}

.bookmarks a:hover::before,
.cart a:hover::before,
.search-icon:hover::before  {
  opacity: 1;
}

.btn-checkout {
  float: right;
  margin-right: 0;
  padding: 12px 21px;
  background-color: #6db254;
  text-decoration: none;
  color: #ffffff;
  font-size: 17px;
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 1.059;
}

.header-bottom {
  background-color: #f3f7f9;
  margin-bottom: 120px;
}

.description {
  width: 200px;
  float: left;
  margin-left: 40px;
  color: #ff5357;
  font-style: italic;
  font-size: 16px;
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 1.438;
  padding: 46px 13px;
}

.header-contacts {
  width: 300px;
  float: left;
  margin-left: 40px;
  text-align: center;
}

.header-contacts .tel {
  color: #fb463c;
  border: 2px solid #ffffff;
  position: relative;
  padding: 57px 0 0 16px;
  font-size: 21px;
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 0.857;

}

.tel::before {
  content: "";
  position: absolute;
  top: 55px;
  left: 27px;
  width: 18px;
  height: 20px;
  background: url("../img/sprite.png") no-repeat;
  background-position: -275px -110px;

}

.header-contacts .header-address {
  color: #3d546e;
  font-size: 14px;
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 1.714;
  padding-top: 15px;
}

.user-login {
  float: right;
  width: 280px;
  margin-top: 58px;

}

.user-login .enter,
.user-login .registration {
  font-size: 21px;
  font-family: "Cuprum", Arial, sans-serif;
  color: #000000;
  line-height: 0.857;
  text-decoration: none;
  background-color: #ffffff;
  padding: 10px 15px;
}

.user-login .enter:hover,
.user-login .registration:hover {
  color: #ee3643;
}

.user-login .enter:active,
.user-login .registration:active {
  opacity: 0.3;
  color: #000000;
}

.user-login .enter {
   position: relative;
   padding: 10px 45px;
}

.user-login .enter::before {
  position: absolute;
  content: "";
  left: 13px;
  width: 18px;
  height: 20px;
  background: url("../img/sprite.png") no-repeat;
  background-position: -100px -112px;
}

.user-login .enter:hover::before {
  background-position: -145px -112px;
}

.main-navigation ul{
  background-color: #3d546e;
  border-bottom: 5px solid #293449;
  padding-left: 32px;
}

.main-navigation li {
  display: inline-block;
  margin-right: 18px;
}

.main-navigation a {
  display: block;
  text-decoration: none;
  padding: 11px 20px;
  color: #ffffff;
  font-size: 17px;
  font-family: "Cuprum", Arial, sans-serif;
}

.main-navigation a:hover {
  background-color: #293449;
}

.main-navigation a:active {
  color: rgba(255, 255, 255, 0.5)
}

.products h2 {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  font-family: "Cuprum", Arial, sans-serif;
  padding-left: 22px;
  padding-top: 12px;
  padding-bottom: 10px;
}

.products a {
  display: block;
  width: 135px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  font-family: "Cuprum", Arial, sans-serif;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: rgba(0,0,0,0.1);
  border-radius: 3px;
  margin-left: 26px;
  text-align: center;
}

.products a:hover {
  background-color: rgba(0,0,0,0.2);
}

.products a:active {
  background-color: rgba(0,0,0,0.3);
}

.materials {
  width: 300px;
  height: 123px;
  background-color: #ffbf47;
  background-image: url("../img/backet.png");
  background-repeat: no-repeat;
  background-position: 83% center;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

.instruments {
  width: 300px;
  height: 123px;
  background-color: #3bbce3;
  background-image: url("../img/instrument.png");
  background-repeat: no-repeat;
  background-position: 83% center;
  float: left;
  margin-right: 20px;
}
.equipment {
  width: 300px;
  height: 123px;
  background-color: #dc91d8;
  background-image: url("../img/technic.png");
  background-repeat: no-repeat;
  background-position: 83% center;
  float: right;
  margin-right: 0;
  margin-bottom: 20px;
}

.slider {
  width: 620px;
  float: left;
  position: relative;
}

.slider-slides {
  width: 300%;
}

.slider-slides div {
  float: left;
  width: 620px;
  height: 265px;
  /*outline: 2px solid red;*/
}

.slider-controls {
  margin-bottom: 10px;
  text-align: center;
  position: absolute;
  z-index: 2;
  left: 292px;
  top: 216px;

}

.slider-controls label {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 3px;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #ffffff;
  background-color: #ffffff;
  position: relative;
}

.slider-input {
  display: none;
}

.slider-inner {
  overflow: hidden;
}

.punchers {
  background-image: url("../img/punchers.jpg")
}

.drills {
  background-image: url("../img/drills.jpg")
}

.punchers h2,
.drills h2 {
  font-size: 36px;
  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.833;
  padding: 25px 0 0 25px;
}

.punchers p,
.drills p {
  font-size: 18px;
  font-family: "PT Sans", , Arial, sans-serif;
  color: #ffffff;
  line-height: 1.333;
  padding: 20px;
  padding: 5px 0 0 25px;
}

.slider-slides a {
  background-color: #ff5357;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 3px;
  margin: 123px 0 0 25px;
  text-decoration: none;
  padding: 6px 30px;
  font-family: "Cuprum", Arial, sans-serif;
}

#btn-1:checked ~ .slider .slider-inner .slider-slides {
  transform: translate(0);
}

#btn-2:checked ~ .slider .slider-inner .slider-slides {
  transform: translate(-620px);
}

#btn-1:checked ~ .slider label[for="btn-1"],
#btn-2:checked ~ .slider label[for="btn-2"]
 {
  background-color: #ff5357;
}

/*.icon-left {
  position: absolute;
  z-index: 20;
  left: 5px;
  top: 120px;
}
*/
.sales {
  width: 300px;
  height: 123px;
  background-color: #8ed78f;
  background-image: url("../img/sales.png");
  background-repeat: no-repeat;
  background-position: 83% center;
  float: right;
  margin-right: 0;
  margin-bottom: 20px;
}

.delivery {
  width: 300px;
  height: 123px;
  background-color: #ffc047;
  background-image: url("../img/delivery.png");
  background-repeat: no-repeat;
  background-position: 83% center;
  float: right;
  margin-right: 0;
}

.popular-goods-title,
.popular-manufacturer-title {
  background-color: #f9f5f0;
  outline: 1px solid red;
<<<<<<< HEAD
  margin-top: 53px;
  margin-bottom: 20px;
=======
  height: 90px;

>>>>>>> origin/master
}

.popular-manufacturer-title {
  margin-top: 20px;
}

.popular-goods-title h2,
.popular-manufacturer-title h2 {
  font-size: 30px;
  font-family: "Cuprum";
  color: rgb(61, 84, 110);
  text-transform: uppercase;
  padding: 16px 30px;
   float: left;
}

.popular-goods-title a,
.popular-manufacturer-title a {
  background-color: #ff5357;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 3px;
  margin: 23px 22px;
  text-decoration: none;
  padding: 8px 62px;
  font-family: "Cuprum", Arial, sans-serif;
  float: right;
}

<<<<<<< HEAD
=======
.popular-goods ul, .goods {
  padding: 0;
}

.popular-goods li,
.catalog .goods li {
  display: inline-block;
  width: 218px;
  border: 1px solid #eaeaea;
  float: left;
  list-style: none;
  margin-right: 20px;
}

.catalog .goods li {
  margin-bottom: 20px;
}

.popular-goods li:last-child,
.goods li:nth-child(3n)  {
  margin-right: 0;
}

.popular-goods figure,
.goods figure {
  text-align: center;
  width: 192px;
  height: 119px;
  padding: 0;
  margin: 0 auto;
}

.popular-manufacturer-title {
  background-color: #f9f5f0;
  outline: 1px solid red;
  height: 90px;

}

.popular-manufacturer-title h2 {
  float: left;
}

>>>>>>> origin/master
.popular-manufacturer-title a {
  padding: 8px 74px;
}

.catalog-item {
    position: relative;
    display: inline-block;
    width: 218px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    font-size: 18px;
    font-family: "PT Sans";
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.111;
    text-align:center;
}

.catalog-item:nth-child(4n){
    margin-right:0;
}

.catalog-items{
    font-size:0;
}
.catalog-item{
    font-size:16px;
}

.catalog-item .flag {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 60px;
    height: 60px;
    text-indent: -1000px;
    overflow: hidden;
     z-index: 20;
}
.catalog-item .flag-new {
    background: url("../img/new.png") no-repeat 0 0;
}

.catalog-item .actions {
    position: absolute;
    top: 0;
    left: 0;
    width: 218px;
    height: 88px;
    padding: 40px 0;
    background-color: rgba(255,255,255,0.9);
    z-index: 10;
}

.catalog-item .actions .buy,
.catalog-item .actions .bookmark {
    display:block;
    width:129px;
    margin:0 auto;
    margin-bottom:7px;
    padding:7px 0;
    border:3px solid #63a63e;
    border-bottom-color:#367315;
    background-color:#63a63e;
    color:white;
    font-size:14px;
    font-weight:normal;
    font-family:"Cuprum", sans-serif;
    line-height:18px;
    text-decoration:none;
    text-transform:uppercase;
    border-radius:3px;

}
.catalog-item .actions .bookmark{
    color:#32425c;
    background:white;
    border-bottom-color:#63a63e;
}
.catalog-item .actions{
    display:none;
}
.catalog-item:hover .actions{
    display:block;
}
.catalog-item .image{
    width:192px;
    height:119px;
}
.catalog-item .image img{
    max-width:100%;
}
.catalog-item .title{
    min-height:40px;
    padding:0 25px;
    margin-top:10px;
    margin-bottom:15px;
}
.catalog-item .discount{
    min-height:20px;
    margin-top:15px;
    margin-bottom:10px;
    color:#999;
    text-decoration:line-through;
}
.catalog-item .price{
    position:relative;
    width:80px;
    margin:10px auto;
    margin-bottom:20px;
    padding:10px 30px;
    color:white;
    background:#ee3643;
    border-radius:3px;
}
.catalog-item .price:after{
    content:"";
    position:absolute;
    top:0;
    right:-20px;
    width:0;
    height:0;
    border:20px solid white;
    border-left-color:#ee3643;
}

.popular-manufacturer ul{
  padding: 0;
}

.popular-manufacturer li {
  display: inline-block;
  width: 218px;
  border: 1px solid #eaeaea;
  float: left;
  list-style: none;
  margin-right: 20px;
  margin-bottom: 20px;
}

.popular-manufacturer li:nth-child(4n) {
  margin-right: 0;
}

.popular-manufacturer figure {
  width: 192px;
  height: 119px;
  padding: 0;
  margin: 0 auto;
}

.services {
  height: 520px;
  background-color: #f4f7f9;
  clear: both;

}

.services h2 {
  margin: 10px 20px;
}

.services p {
  padding: 20px;
}

.services-tabs {
  float: left;
  width: 240px;
  margin-top: 50px;
  margin-left: 35px;


}

.services-tabs ul {

  list-style: none;
  background-image: url("../img/line.jpg");
  background-repeat: no-repeat;
  background-position: 100% center;
}

.services-tabs a {
  display: block;
  margin-bottom: -1px;
  padding: 15px 14px;
  text-decoration: none;
  color: #ffffff;
  border: 1px solid #33445b;
  background-color: #3d546e;
  font-size: 21px;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: bold;
  line-height: 1.429;
}

.services-tabs a:active {
  color: #3d546e;
  background-color: #ffffff;
}

.services-delivery {
  float: right;
  width: 620px;
  background-image: url("../img/track.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  height: 270px;
  margin-left: 30px;
  outline: 1px solid black;
}

.services-delivery  p{
  width: 285px;
  margin: 60px 30px;

}

.services-guarantee,
.services-credit,
.map-popup,
.write-us {
  display: none;
}

.about {

  min-height: 540px;
}

.about .transport-companies {
  float: left;
  width: 530px;
  outline: 1px solid red;
}

.transport-companies h2 {
  text-transform: uppercase;
  margin: 20px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  font-weight: normal;
}

.transport-companies p {
  margin: 20px;
  font-size: 13px;
  font-family: "Cuprum", Arial, sans-serif;
}

.transport-companies ul {
  margin: 20px;
  font-size: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 30px;
  list-style-type: none;
}

.transport-companies li {
   background: url("../img/marker.png") no-repeat left center;
}

.transport-companies a {
  background-color: #ff5357;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 3px;
  margin-left: 20px;
  text-decoration: none;
  padding: 10px 20px;
  font-family: "Cuprum", Arial, sans-serif;
}

.contacts a {
  background-color: #ff5357;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 3px;
  margin-left: 20px;
  text-decoration: none;
  padding: 10px 20px;
  font-family: "Cuprum", Arial, sans-serif;
}

.about  .contacts {
  float: right;
  width: 400px;
}

.footer-top {
  min-height: 192px;
  background-color: #3d546e;
}

.footer-top .left-column {
  float: left;
  width: 350px;
  outline: 1px solid black;
}

.footer-top .right-column {
  float: right;

  outline: 1px solid black;
}

.left-column .footer-address {
  font-size: 18px;
  font-family: "Cuprum";
  color: rgb(243, 247, 249);
  line-height: 1.333;
  text-align: left;
}

.footer-navigation ul,
.footer-content-navigation ul{
  background-color: #3d546e;
  border-bottom: 5px solid #33445a;
  height: 55px;
  clear: both;
  margin-top: 0;

}

.footer-navigation li,
.footer-content-navigation li{
  display: inline-block;
  margin-right: 5px;
}

.footer-navigation li a,
.footer-content-navigation li a{
  display: block;
  text-decoration: none;
  padding: 14px 20px;
  color: #ffffff;
  font-size: 17px;
  font-family: "Cuprum";
}

.footer-bottom {
  background-color: #33445a;
  font-size: 16px;
  font-family: "Cuprum";
  color: #ffffff;
  line-height: 18px;
  text-align: left;
  min-height: 105px;
}

.footer-bottom .copyright {
  float: left;
  width: 240px;
}

.footer-bottom .social {
  float: left;
  width: 145px;
}

.footer-bottom .info {
  float: right;
  width: 150px;

}

.breadcrumbs ul{
  font-size: 13px;
  font-family: "PT Sans";
  color: #000000;
  text-transform: uppercase;
  line-height: 18px;
}

.breadcrumbs li {
  display: inline-block;
}

.breadcrumbs a {
  text-decoration: none;
}

.content h1 {
  font-size: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  color: #32425c;
  text-transform: uppercase;
}

.content .filter {
  float: left;
  width: 220px;
  min-height: 745px;
}

.content .catalog {
  float: right;
  width: 700px;
}

.sorting  ul {
  background-color: #f7f3ec;
  font-size: 13px;
  font-family: "PT Sans";
  text-transform: uppercase;
  line-height: 18px;
}

.sorting li {
  display: inline-block;
}

.pagination a {
  display: inline-block;
  min-width: 35px;
  height: 16px;
  vertical-align: middle;
  text-align: center;
  line-height: 18px;
  text-decoration: none;
  border: 1px solid #e5e5e5;
  font-size: 13px;
  color: black;
  border-radius: 5px;
  padding: 10px 0;
}

.pagination a:first-child{
  background-color: #ee3643;
}

.pagination a:last-child{
  padding: 10px 20px;
}

.cart-modal {
  display: none;
}
