* {
margin:0;
padding:0;

}

body {
	font-size: 13px;
	line-height: 1.8;
	color: black;
	font-family: "PT Sans", Arial, sans-serif;

  min-height: 1750px;
	margin: 0;
	padding: 0;
}

.services h2 {
	font-size: 30px;
	font-family: "Cuprum", Arial, sans-serif;
	color: black;
	text-transform: uppercase;
	line-height: 0.8;
}

.services-delivery h2 {
	font-size: 36px;
	font-family: "Cuprum", Arial, sans-serif;
	color: rgb(61, 84, 110);
	line-height: 0.7;
}

.top-menu {
	margin: 0 auto;
	background-color: #33445a;
}

.container {
	margin: 0 auto;
	width: 940px;
	/*outline: 1px solid red;*/
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.header-logo {
  width: 220px;
  text-align: center;
  background-color: #ff5357;
  float: left;
  margin-right: 10px;
  height: 42px;
  vertical-align: middle;

}

.search {
  float: left;
  width: 250px;
  margin-right: 10px;
  text-align: center;
  margin-right: 25px;


}

.bookmarks, .cart {
  float: left;
  max-width: 185px;
  /*outline: 1px solid black;*/
}

.bookmarks {
  margin-right: 35px;
}

.bookmarks a, .cart a {
  display: inline-block;
  vertical-align: top;
  padding: 6px 10px;
  padding-left: 30px;
  text-decoration: none;
  color: #ffffff;
  font-family: "Cuprum", sans-serif;
  font-size: 17px;
  position: relative;
}

.bookmarks a:hover, .cart a:hover {
  background-color: #12a3a;
}

.bookmarks a::before,
.cart a::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 3px;
  width: 16px;
  height: 18px;
  background: url("../img/sprite.png") no-repeat;
  background-position: -178px -11px;
  opacity: 0.3;
}

.cart a::before {
  background-position: -135px -11px;
  left: 0px;
}

.bookmarks a:hover::before,
.cart a:hover::before {
  opacity: 1;
}

.btn-checkout {
  float: right;
  margin-right: 0;
  padding: 6px 21px;
  background-color: #6db254;
  text-decoration: none;
  color: #ffffff;
  font-size: 17px;
  font-family: "Cuprum", Arial, sans-serif;
}

.header-bottom {
  min-height: 280px;

  background-color: #f3f7f9;
  /*outline: 1px solid black;*/
  margin: 0 auto;
  margin-bottom: 60px;
}

.header-info {
  height: 160px;
  /*outline: 1px solid green;*/


}

.description {
  width: 230px;
  float: left;
  margin-left: 40px;
  color: #ff5357;
  font-style: italic;
}

.header-contacts {
  width: 300px;
  float: left;
  margin-left: 40px;
  text-align: center;
}

.header-contacts .tel {
  color: #ff5357;
  font-size: 21px;
}

.header-contacts .header-address {
  color: #3d546e;
  font-size: 14px;
}

.user-login {
  float: right;
  width: 280px;

}

.user-login a {
  color: #000000;
  font-size: 21px;
  text-decoration: none;
}

.main-navigation ul{
  background-color: #3d546e;
  border-bottom: 5px solid #33445a;
  height: 55px;
  clear: both;
  margin-top: 0;

}

.main-navigation li {
  display: inline-block;
  margin-right: 5px;
}

.main-navigation li a {
  display: block;
  text-decoration: none;
  padding: 14px 20px;
  color: #ffffff;
  font-size: 17px;
  font-family: "Cuprum";


}

.products h2 {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  font-family: "Cuprum", Arial, sans-serif;
  padding-left: 20px;
}

.products a {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  font-family: "Cuprum", Arial, sans-serif;
}

.materials {
  width: 300px;
  height: 123px;
  background-color: #ffbf47;
  background-image: url("../img/backet.png");
  background-repeat: no-repeat;
  background-position: 83% center;
  float: left;
  margin-right: 20px;
}

.instruments {
  width: 300px;
  height: 123px;
  background-color: #3bbce3;
  background-image: url("../img/instrument.png");
  background-repeat: no-repeat;
  background-position: 83% center;
  float: left;
  margin-right: 20px;
}
.equipment {
  width: 300px;
  height: 123px;
  background-color: #dc91d8;
  background-image: url("../img/technic.png");
  background-repeat: no-repeat;
  background-position: 83% center;
  float: right;
  margin-right: 0;
  margin-bottom: 20px;
}

.slider {
  width: 620px;
  min-height: 265px;
  float: left;
  margin-bottom: 20px;
}

.slider-slides {
  width: 300%;
}

.slider-slides div {
  float: left;
  width: 620px;
  height: 265px;
}

.slider-controls {
  margin-bottom: 10px;
  text-align: center;
}

.slider-controls label {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 3px;
  cursor: pointer;
  border-radius: 50%;
  border: 4px solid #ffffff;
  background-color: #cccccc;
  position: relative;
}

.slider input[type="radio"] {
  display: none;
}

.slider-inner {
  overflow: hidden;
}

.punchers {
  background-image: url("../img/punchers.jpg")
}

.drills {
  background-image: url("../img/drills.jpg")
}

#btn-1:checked ~ .slider-inner .slider-slides {
  transform: translate(0);
}

#btn-2:checked ~ .slider-inner .slider-slides {
  transform: translate(-620px);
}

.sales {
  width: 300px;
  height: 123px;
  background-color: #8ed78f;
  background-image: url("../img/sales.png");
  background-repeat: no-repeat;
  background-position: 83% center;
  float: right;
  margin-right: 0;
  margin-bottom: 20px;
}

.delivery {
  width: 300px;
  height: 123px;
  background-color: #ffc047;
  background-image: url("../img/delivery.png");
  background-repeat: no-repeat;
  background-position: 83% center;
  float: right;
  margin-right: 0;
}

.popular-goods-title {
  background-color: #f9f5f0;
  outline: 1px solid red;
  height: 90px;
  clear: both;
}

.popular-goods-title a {
  background-color: #ff5357;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 3px;
  margin: 25px 20px;
  text-decoration: none;
  padding: 8px 40px;
  font-family: "Cuprum", Arial, sans-serif;
}

.popular-goods-title h2 {
  float: left;
}

.popular-goods-title a {
  display: block;
  float: right;
}

.popular-goods ul, .goods {
  padding: 0;
}

.popular-goods li,
.catalog .goods li {
  display: inline-block;
  width: 218px;
  border: 1px solid #eaeaea;
  float: left;
  list-style: none;
  margin-right: 20px;
}

.catalog .goods li {
  margin-bottom: 20px;
}

.popular-goods li:last-child,
.goods li:nth-child(3n)  {
  margin-right: 0;
}

.popular-goods figure,
.goods figure {
  text-align: center;
  width: 192px;
  height: 119px;
  padding: 0;
  margin: 0 auto;
}

.popular-manufacturer-title {
  background-color: #f9f5f0;
  outline: 1px solid red;
  height: 90px;
  clear: both;
}

.popular-manufacturer-title h2 {
  float: left;
}

.popular-manufacturer-title a {
  display: block;
  float: right;
}

.popular-manufacturer ul{
  padding: 0;
}

.popular-manufacturer li {
  display: inline-block;
  width: 218px;
  border: 1px solid #eaeaea;
  float: left;
  list-style: none;
  margin-right: 20px;
  margin-bottom: 20px;
}

.popular-manufacturer li:nth-child(4n) {
  margin-right: 0;
}

.popular-manufacturer figure {
  width: 192px;
  height: 119px;
  padding: 0;
  margin: 0 auto;
}

.services {
  height: 520px;
  background-color: #f4f7f9;
  clear: both;

}

.services h2 {
  margin: 10px 20px;
}

.services p {
  padding: 20px;
}

.services-tabs {
  float: left;
  width: 240px;
  margin-top: 50px;
  margin-left: 35px;


}

.services-tabs ul {

  list-style: none;
  background-image: url("../img/line.jpg");
  background-repeat: no-repeat;
  background-position: 100% center;
}

.services-tabs a {
  display: block;
  margin-bottom: -1px;
  padding: 15px 14px;
  text-decoration: none;
  color: #ffffff;
  border: 1px solid #33445b;
  background-color: #3d546e;
  font-size: 21px;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: bold;
  line-height: 1.429;
}

.services-tabs a:active {
  color: #3d546e;
  background-color: #ffffff;
}

.services-delivery {
  float: right;
  width: 620px;
  background-image: url("../img/track.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  height: 270px;
  margin-left: 30px;
  outline: 1px solid black;
}

.services-delivery  p{
  width: 285px;
  margin: 60px 30px;

}

.services-guarantee,
.services-credit,
.map-popup,
.write-us {
  display: none;
}

.about {

  min-height: 540px;
}

.about .transport-companies {
  float: left;
  width: 530px;
  outline: 1px solid red;
}

.transport-companies h2 {
  text-transform: uppercase;
  margin: 20px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  font-weight: normal;
}

.transport-companies p {
  margin: 20px;
  font-size: 13px;
  font-family: "Cuprum", Arial, sans-serif;
}

.transport-companies ul {
  margin: 20px;
  font-size: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 30px;
  list-style-type: none;
}

.transport-companies ul li {
   background: url("../img/marker.png") no-repeat left center;
}

.transport-companies a {
  background-color: #ff5357;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 3px;
  margin-left: 20px;
  text-decoration: none;
  padding: 10px 20px;
  font-family: "Cuprum", Arial, sans-serif;
}

.contacts a {
  background-color: #ff5357;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 3px;
  margin-left: 20px;
  text-decoration: none;
  padding: 10px 20px;
  font-family: "Cuprum", Arial, sans-serif;
}

.about  .contacts {
  float: right;
  width: 400px;
}

.footer-top {
  min-height: 192px;
  background-color: #3d546e;
}

.footer-top .left-column {
  float: left;
  width: 350px;
  outline: 1px solid black;
}

.footer-top .right-column {
  float: right;

  outline: 1px solid black;
}

.left-column .footer-address {
  font-size: 18px;
  font-family: "Cuprum";
  color: rgb(243, 247, 249);
  line-height: 1.333;
  text-align: left;
}

.footer-navigation ul,
.footer-content-navigation ul{
  background-color: #3d546e;
  border-bottom: 5px solid #33445a;
  height: 55px;
  clear: both;
  margin-top: 0;

}

.footer-navigation li,
.footer-content-navigation li{
  display: inline-block;
  margin-right: 5px;
}

.footer-navigation li a,
.footer-content-navigation li a{
  display: block;
  text-decoration: none;
  padding: 14px 20px;
  color: #ffffff;
  font-size: 17px;
  font-family: "Cuprum";
}

.footer-bottom {
  background-color: #33445a;
  font-size: 16px;
  font-family: "Cuprum";
  color: #ffffff;
  line-height: 18px;
  text-align: left;
  min-height: 105px;
}

.footer-bottom .copyright {
  float: left;
  width: 240px;
}

.footer-bottom .social {
  float: left;
  width: 145px;
}

.footer-bottom .info {
  float: right;
  width: 150px;

}

.breadcrumbs ul{
  font-size: 13px;
  font-family: "PT Sans";
  color: #000000;
  text-transform: uppercase;
  line-height: 18px;
}

.breadcrumbs ul li {
  display: inline-block;
}

.breadcrumbs li a {
  text-decoration: none;
}

.content h1 {
  font-size: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  color: #32425c;
  text-transform: uppercase;
}

.content .filter {
  float: left;
  width: 220px;
  min-height: 745px;
}

.content .catalog {
  float: right;
  width: 700px;
}

.sorting  ul {
  background-color: #f7f3ec;
  font-size: 13px;
  font-family: "PT Sans";
  text-transform: uppercase;
  line-height: 18px;
}

.sorting ul li {
  display: inline-block;
}

.pagination a {
  display: inline-block;
  min-width: 35px;
  height: 16px;
  vertical-align: middle;
  text-align: center;
  line-height: 18px;
  text-decoration: none;
  border: 1px solid #e5e5e5;
  font-size: 13px;
  color: black;
  border-radius: 5px;
  padding: 10px 0;
}

.pagination a:first-child{
  background-color: #ee3643;
}

.pagination a:last-child{
  padding: 10px 20px;
}

.cart-modal {
  display: none;
}
