* {
margin:0;
padding:0;

}

body {
	font-size: 13px;
	line-height: 1.8;
	color: black;
	font-family: "PT Sans", Arial, sans-serif;
  margin: 0;
	padding: 0;
}

.top-menu {
	margin: 0 auto;
	background-color: #33445a;
}

.container {
	margin: 0 auto;
	width: 940px;

}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.header-logo {
  width: 220px;
  text-align: center;
  background-color: #ff5357;
  float: left;
  height: 42px;
  vertical-align: middle;

}

.search {
  float: left;
  text-align: center;
  margin-right: 15px;
}

.search input {
  background-color: #33445a;
  border: none;
  height: 41px;
  font-size: 17px;
  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;
  padding-left: 47px;
  width: 223px;
  outline: none;
  -webkit-appearance: none;
  background: url("../img/icon-search.png") no-repeat;
  background-position: 18px 12px;
}

::-webkit-input-placeholder {color:#ffffff;}
::-moz-placeholder          {color:#ffffff;}
:-moz-placeholder           {color:#ffffff;}
:-ms-input-placeholder      {color:#ffffff;}

:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}

.search input:focus {
  background-color: #ffffff;
  color: #000000;
  background: url("../img/icon-search-active.png") no-repeat;
  background-position: 18px 12px;
}

.search input:hover {
  background-color: #212a3a;
  background: url("../img/icon-search.png") no-repeat;
  background-position: 18px 12px;
  opacity: 0.3;
}

.bookmarks {
  float: left;
  width: 144px;
}

.cart {
  float: left;
  width: 141px;
}

.bookmarks {
  margin-right: 0;
}

.bookmarks a,
.cart a {
  display: inline-block;
  vertical-align: top;
  padding: 5px 10px;
  padding-left: 40px;
  text-decoration: none;
  color: #ffffff;
  font-family: "Cuprum", sans-serif;
  font-size: 17px;
  position: relative;
  padding-bottom: 6px;
}

.bookmarks a {
  padding-left: 30px;
}

.bookmarks a:hover,
.cart a:hover {
  background-color: #212a3a;
}

.bookmarks a::before,
.cart a::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 4px;
  width: 16px;
  height: 18px;
  background: url("../img/sprite.png") no-repeat;
  background-position: -178px -11px;
  opacity: 0.3;
}

.search input::before {
  left: 13px;
}

.cart a::before {
  background-position: -135px -11px;
  left: 6px;
}

.bookmarks a:hover::before,
.cart a:hover::before,
.search-icon:hover::before  {
  opacity: 1;
}

.btn {
  background-color: #ee3643;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 3px;
  text-decoration: none;
  padding: 8px 62px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
}

.btn:hover {
  background-color: #ba2732;
}

.btn-checkout {
  float: right;
  margin-right: 0;
  padding: 12px 21px;
  background-color: #6db254;
  text-decoration: none;
  color: #ffffff;
  font-size: 17px;
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 1.059;
}

.header-bottom {
  background-color: #f3f7f9;

}

.description {
  width: 200px;
  float: left;
  margin-left: 40px;
  color: #ff5357;
  font-style: italic;
  font-size: 16px;
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 1.438;
  padding: 46px 13px;
}

.header-contacts {
  width: 270px;
  float: left;
  margin-left: 54px;
  text-align: center;
}

.header-contacts .tel {
  color: #fb463c;
  border: 2px solid #ffffff;
  position: relative;
  padding: 12px 0;
  padding-left: 17px;
  font-size: 21px;
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 0.857;
  margin-top: 46px;

}

.tel::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 17px;
  width: 18px;
  height: 20px;
  background: url("../img/sprite.png") no-repeat;
  background-position: -275px -110px;

}

.header-contacts .header-address {
  color: #3d546e;
  font-size: 14px;
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 1.714;
  padding-top: 3px;
}

.user-login,
.user-area {
  float: right;
  width: 300px;
  margin-top: 58px;
}

.user-login {
  width: 285px;
}

.user-area {
  margin-top: 48px;
}

.user-login .enter,
.user-login .registration {
  font-size: 21px;
  font-family: "Cuprum", Arial, sans-serif;
  color: #000000;
  line-height: 0.857;
  text-decoration: none;
  background-color: #ffffff;
  padding: 10px 15px;
}

.user-login .registration {
  margin-left: 10px;
}


.user-login .enter:hover,
.user-login .registration:hover {
  color: #ee3643;
}

.user-login .enter:active,
.user-login .registration:active {
  opacity: 0.3;
  color: #000000;
}

.user-login .enter {
   position: relative;
   padding: 10px 45px;
}

.user-login .enter::before {
  position: absolute;
  content: "";
  left: 13px;
  width: 18px;
  height: 20px;
  background: url("../img/sprite.png") no-repeat;
  background-position: -100px -112px;
}

.user-login .enter:hover::before {
  background-position: -145px -112px;
}

.username {
  font-size: 21px;
  font-family: "Cuprum";
  color: #000000;
  line-height: 0.857;
  position: relative;
  padding:  12px 0 12px 48px;
  margin-bottom: 3px;
}

.username::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 18px;
  width: 18px;
  height: 20px;
  background: url("../img/sprite.png") no-repeat;
  background-position: -57px -113px;
}

.username:hover::before {
  background-position: -12px -113px;
}

.username:active::before,
.username:active
 {
  opacity: 0.3;
}

.btn-logout::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 270px;
  width: 20px;
  height: 20px;
  background: url("../img/sprite.png") no-repeat;
  background-position: -186px -113px;
}

.btn-logout:hover::after {
  background-position: -230px -113px;
}

.cabinet,
.myorders {
  font-size: 16px;
  font-family: "Cuprum";
  color: rgb(50, 66, 92);
  line-height: 1.125;
  padding-left: 20px;
}

.cabinet {
  padding-left: 7px;
}

.user-area span {
  font-size: 16px;
  color: rgb(50, 66, 92);
  padding-left: 13px;
}

.cabinet:hover,
.myorders:hover {
  color: #ee3643;
}

.cabinet:active,
.myorders:active {
  opacity: 0.3;
  color: rgb(50, 66, 92);
}

.main-navigation {
  margin-bottom: 60px;
}

.main-navigation ul{
  background-color: #3d546e;
  border-bottom: 5px solid #293449;
  padding-left: 32px;
}

.main-navigation li {
  display: inline-block;
  margin-right: 18px;
}

.main-navigation a {
  display: block;
  text-decoration: none;
  padding: 11px 20px;
  color: #ffffff;
  font-size: 17px;
  font-family: "Cuprum", Arial, sans-serif;
}

.main-navigation a:hover {
  background-color: #293449;
}

.main-navigation a:active {
  color: rgba(255, 255, 255, 0.5)
}

.products {
  margin-top: 60px;
}
.products h2 {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  font-family: "Cuprum", Arial, sans-serif;
  padding-left: 22px;
  padding-top: 12px;
  padding-bottom: 10px;
}

.products .products-btn {
  display: block;
  width: 135px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  font-family: "Cuprum", Arial, sans-serif;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: rgba(0,0,0,0.1);
  border-radius: 3px;
  margin-left: 26px;
  text-align: center;
}

.products a:hover {
  background-color: rgba(0,0,0,0.2);
}

.products a:active {
  background-color: rgba(0,0,0,0.3);
}

.materials {
  width: 300px;
  height: 123px;
  background-color: #ffbf47;
  background-image: url("../img/backet.png");
  background-repeat: no-repeat;
  background-position: 83% center;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

.instruments {
  width: 300px;
  height: 123px;
  background-color: #3bbce3;
  background-image: url("../img/instrument.png");
  background-repeat: no-repeat;
  background-position: 83% center;
  float: left;
  margin-right: 20px;
}
.equipment {
  width: 300px;
  height: 123px;
  background-color: #dc91d8;
  background-image: url("../img/technic.png");
  background-repeat: no-repeat;
  background-position: 83% center;
  float: right;
  margin-right: 0;
  margin-bottom: 20px;
}

.slider {
  width: 620px;
  float: left;
  position: relative;
}

.slider-slides {
  width: 300%;
}

.slider-slides div {
  float: left;
  width: 620px;
  height: 265px;
}

.slider-controls {
  margin-bottom: 10px;
  text-align: center;
  position: absolute;
  z-index: 2;
  left: 292px;
  top: 216px;

}

.slider-controls label {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 3px;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #ffffff;
  background-color: #ffffff;
  position: relative;
}

.slider-input {
  display: none;
}

.slider-inner {
  overflow: hidden;
}

.punchers {
  background-image: url("../img/punchers.jpg")
}

.drills {
  background-image: url("../img/drills.jpg")
}

.punchers h2,
.drills h2 {
  font-size: 36px;
  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.833;
  padding: 25px 0 0 25px;
}

.punchers p,
.drills p {
  font-size: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #ffffff;
  line-height: 1.333;
  padding: 5px 0 0 25px;
  margin-bottom: 127px;
}

.slider-slides .btn {
  margin-left: 25px;
  padding: 10px 48px;
}

#btn-1:checked ~ .slider .slider-inner .slider-slides {
  transform: translate(0);
}

#btn-2:checked ~ .slider .slider-inner .slider-slides {
  transform: translate(-620px);
}

#btn-1:checked ~ .slider label[for="btn-1"],
#btn-2:checked ~ .slider label[for="btn-2"]
 {
  background-color: #ff5357;
}

/*.icon-left {
  position: absolute;
  z-index: 20;
  left: 5px;
  top: 120px;
}
*/
.sales {
  width: 300px;
  height: 123px;
  background-color: #8ed78f;
  background-image: url("../img/sales.png");
  background-repeat: no-repeat;
  background-position: 83% center;
  float: right;
  margin-right: 0;
  margin-bottom: 20px;
}

.delivery {
  width: 300px;
  height: 123px;
  background-color: #ffc047;
  background-image: url("../img/delivery.png");
  background-repeat: no-repeat;
  background-position: 83% center;
  float: right;
  margin-right: 0;
}

.popular-goods-title,
.popular-manufacturer-title {
  background-color: #f9f5f0;
  margin-top: 53px;
  margin-bottom: 20px;
}

.popular-manufacturer-title {
  margin-top: 0;
}

.popular-goods-title h2,
.popular-manufacturer-title h2
 {
  font-size: 30px;
  font-family: "Cuprum";
  color: rgb(61, 84, 110);
  text-transform: uppercase;
  padding: 16px 30px;
   float: left;
}

.popular-goods-title .btn,
.popular-manufacturer-title .btn {
  margin: 23px 22px;
  padding: 6px 68px;
  float: right;
}

.popular-goods-title .btn {
  padding: 6px 57px;
}

.popular-manufacturer-title a {
  padding: 8px 74px;
}

.catalog-item {
    position: relative;
    display: inline-block;
    width: 218px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    font-size: 18px;
    font-family: "PT Sans";
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.111;
    text-align:center;
}

.popular:nth-child(4n){
    margin-right:0;
}

.catalog-punchers:nth-child(3n){
    margin-right:0;
}

.catalog-items{
    font-size:0;
}
.catalog-item{
    font-size:16px;
}

.catalog-item:hover {
  box-shadow: 0 10px 25px rgba(41,52,73,0.5);
}

.catalog-item .flag {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 60px;
    height: 60px;
    text-indent: -1000px;
    overflow: hidden;
     z-index: 20;
}
.catalog-item .flag-new {
    background: url("../img/new.png") no-repeat 0 0;
}

.catalog-item .actions {
    position: absolute;
    top: 0;
    left: 0;
    width: 218px;
    height: 68px;
    padding: 40px 0;
    background-color: #ffffff;
    z-index: 10;
}

.catalog-item .actions .buy,
.catalog-item .actions .bookmark {
    display:block;
    width:129px;
    margin:0 auto;
    margin-bottom:7px;
    padding:7px 0;
    border:3px solid #63a63e;
    border-bottom-color:#367315;
    background-color:#63a63e;
    color:white;
    font-size:14px;
    font-weight:normal;
    font-family:"Cuprum", sans-serif;
    line-height:18px;
    text-decoration:none;
    text-transform:uppercase;
    border-radius:3px;

}
.catalog-item .actions .bookmark{
    color:#32425c;
    background:white;
    border-bottom-color:#63a63e;
}
.catalog-item .actions{
    display:none;
}
.catalog-item:hover .actions{
    display:block;
}

.actions .buy::before {
  content: "";
  position: absolute;
  top: 50px;
  left: 53px;
  width: 16px;
  height: 18px;
  background: url("../img/sprite.png") no-repeat;
  background-position: -135px -11px;
  opacity: 0.3;
}

.actions .buy:hover::before,
.actions .buy:active::before {
  opacity: 1;
}

.actions .buy:hover {
  background-color: #5fbb2d;
  border-color: #5fbb2d;
  border-bottom-color: #367315;
}

.actions .buy:active {
  background-color: #518534;
  border-color: #518534;
}

.actions .bookmark:hover {
  border-color: #32425c;
}

.actions .bookmark:active {
  opacity: 0.3;
}

.catalog-item .image{
    width:192px;
    height:170px;
}
.catalog-item .image img{
    max-width:100%;
    margin-left: 15px;
    margin-top: 25px;

}
.catalog-item .title{
    min-height:40px;
    padding:0 25px;
    margin-top:10px;
    margin-bottom:0;
}
.catalog-item .discount{
    min-height:20px;
    margin-top:10px;
    margin-bottom:10px;
    color:#999;
    text-decoration:line-through;
}
.catalog-item .price{
    position:relative;
    width:80px;
    margin:0 auto;
    margin-bottom:20px;
    padding:10px 30px;
    color:white;
    background:#ee3643;
    border-radius:3px;
}
.catalog-item .price:after{
    content:"";
    position:absolute;
    top:0;
    right:-20px;
    width:0;
    height:0;
    border:19px solid white;
    border-left-color:#ee3643;
}

.popular-manufacturer ul{
  padding: 0;
}

.popular-manufacturer li {
  display: inline-block;
  width: 218px;
  border: 1px solid #eaeaea;
  float: left;
  list-style: none;
  margin-right: 20px;
  margin-bottom: 20px;
  height: 145px;
}

.popular-manufacturer li:hover  {
  box-shadow: 0 10px 25px rgba(41,52,73,0.5);
}

.popular-manufacturer li:active {
  opacity: 0.3;
  box-shadow: 0 4px 10px rgb(41,52,73);
}

.popular-manufacturer li:nth-child(4n) {
  margin-right: 0;
}

.popular-manufacturer figure {
  width: 192px;
  height: 119px;
  padding-top: 25px;
  margin: 0px auto;
}

.services {

  background-color: #f4f7f9;
  margin-top: 65px;
  margin-bottom: 62px;
}

.services p {
  padding-top: 30px;
}

.services-tabs {
  margin-top: 70px;


}

.tabs-controls {
  float: left;
  position: relative;
}

.tabs-controls::after {
  position: absolute;
  content: "";
  background-image: url("../img/line.png");
  width: 10px;
  height: 272px;
  top: -40px;
  left: 230px;

}

.tabs-controls label {
  width: 200px;
  display: block;
  background-color: #3d546e;
  font-size: 21px;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: bold;
  line-height: 1.429;
  padding: 15px 20px;
  color: #ffffff;
}

.tabs-controls label:hover {
  background-color: #293449;
}

.services-tabs input[type=radio] {
  display: none;
}

#btn-tabs-1:checked ~ .tabs-controls label[for="btn-tabs-1"],
#btn-tabs-2:checked ~ .tabs-controls label[for="btn-tabs-2"],
#btn-tabs-3:checked ~ .tabs-controls label[for="btn-tabs-3"]
{
  color: #3d546e;
  background-color: #ffffff;
}

#btn-tabs-1:checked ~ .tabs .services-delivery {
    display: block;

}
#btn-tabs-2:checked ~ .tabs .services-guarantee {
    display: block;
}
#btn-tabs-3:checked ~ .tabs  .services-credit {
    display: block;
}

.services h2 {
	font-size: 30px;
	font-family: "Cuprum", Arial, sans-serif;
	color: black;
	text-transform: uppercase;
	line-height: 0.8;
  padding-top: 70px;
}

.services-delivery h2,
.services-guarantee h2,
.services-credit h2
 {
	font-size: 36px;
	font-family: "Cuprum", Arial, sans-serif;
	color: rgb(61, 84, 110);
	line-height: 0.7;
  padding-top: 0;
}

.services-delivery
  {
  float: right;
  width: 620px;
  background-image: url("../img/track.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  height: 285px;
  display: none;
}

.services-delivery p {
  width: 280px;
}

.services-guarantee {
  float: right;
  width: 620px;
  background-image: url("../img/guarantee.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  height: 285px;
  display: none;

}

.services-credit {
  float: right;
  width: 620px;
  background-image: url("../img/credit.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  height: 285px;
  display: none;
}
.services-credit .btn {
  padding: 10px 45px;
}

.services-credit p {
  padding-bottom: 30px;
  width: 280px;
}

.map-popup,
.write-us {
  display: none;
}

.about .transport-companies {
  float: left;
  width: 530px;
}

.transport-companies h2,
.contacts h2 {
  text-transform: uppercase;
  padding-top: 17px;
  padding-bottom: 30px;
  line-height: 24px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  font-weight: normal;
  padding-bottom: 16px;
}

.transport-companies p,
.contacts p {
  line-height: 24px;
  font-size: 13px;
  font-family: "PT Sans", Arial, sans-serif;
  padding: 13px 0;
}

.contacts p {
  width: 185px;
}

.transport-companies ul {
  font-size: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 25px;
  list-style-type: none;
  margin-bottom: 40px;
}

.transport-companies li {
   background: url("../img/marker.png") no-repeat left 17px;
   padding: 6px 0 6px 36px;
}

.transport-companies .btn {
  padding: 10px 40px;
}

.contacts .map {
  display: block;
  margin-top: 23px;
  margin-bottom: 33px;
}

.contacts .btn {
  padding: 10px 62px;
}

.contacts {
  float: right;
  width: 301px;
  margin-left: 109px;
  margin-bottom: 95px;
}

.footer-top {
  min-height: 192px;
  background-color: #3d546e;
}

.footer-top .left-column {
  float: left;
  width: 350px;
}

.footer-top .right-column {
  float: right;
  width: 587px;
}

.left-column .footer-address {
  font-size: 18px;
  font-family: "Cuprum";
  color: rgb(243, 247, 249);
  line-height: 1.333;
  text-align: left;
  padding-top: 20px;
}

.footer-navigation,
.footer-content-navigation {
  float: right;
}

.footer-navigation li,
.footer-content-navigation li{
  display: inline-block;


}

.footer-navigation a,
.footer-content-navigation a{
  display: block;
  text-decoration: none;
  font-size: 17px;
  font-family: "Cuprum";
}

.footer-navigation a:hover,
.footer-content-navigation a:hover {
  text-decoration: underline;
}

.footer-navigation a:active,
.footer-content-navigation a:active {
  opacity: 0.5;
}

.footer-navigation a {
  padding-left: 55px;
  padding-top: 33px;
  padding-right: 0;
  color: #ffffff;
}

.footer-content-navigation a {
  padding-left: 60px;
  padding-top: 30px;
  padding-right: 0;
  color: #ffd180;
}


.footer-bottom {
  background-color: #33445a;
  font-size: 16px;
  font-family: "Cuprum";
  color: #ffffff;
  line-height: 18px;
  text-align: left;
  min-height: 105px;
}

.footer-bottom .copyright {
  float: left;
  width: 240px;
  padding-top: 38px;
}

.footer-bottom .footer-social {
  float: left;
  width: 300px;
  text-align: center;
  margin-left: 70px;
}

.footer-bottom .social {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  background: #212a3a url("../img/sprite.png") no-repeat;
  vertical-align: middle;
  border-radius: 50%;
  margin-top: 38px;
}

.footer-bottom .social:hover {
  background-color: #ee3643;
}

.footer-bottom .social-vk {
  background-position: -247px 2px;
}

.footer-bottom .social-fb {
  background-position: -83px 2px;
}

.footer-bottom .social-inst {
  background-position: -205px 2px;
}

.footer-bottom .info {
  float: right;
  width: 150px;
  padding-top: 38px;
 }

.info a {
  color: #ffd180;
  text-decoration: none;
}

.info a:hover {
  text-decoration: underline;
}

.info a:active {
  color: #ee3643;
}

.breadcrumbs {
  margin-top: 21px;
}

.breadcrumbs ul{
  font-size: 0;
  font-family: "PT Sans";
  color: #000000;
  text-transform: uppercase;

}

.breadcrumbs li {
  display: inline-block;
}

.breadcrumbs a,
.breadcrumbs span {
  display: block;
  position: relative;
  text-decoration: none;
  padding: 0 20px;
  font-size: 13px;
  line-height: 18px;
}

.breadcrumbs a::before,
.breadcrumbs span::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 16px;
  height: 18px;
  background: url("../img/sprite.png") no-repeat;
  background-position: -260px -45px;
}

.breadcrumbs .home {
  padding-left: 10px;
}

.breadcrumbs .home::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 3px;
  width: 16px;
  height: 19px;
  background: url("../img/sprite.png") no-repeat;
  background-position: -297px -10px;
}

.content h1 {
  font-size: 30px;
  font-family: "Cuprum";
  color: rgb(61, 84, 110);
  text-transform: uppercase;
  padding: 16px 30px;
  background-color: #f2f6f8;
  margin-top: 20px;
  margin-bottom: 23px;
}

.content .filter {
  float: left;
  width: 220px;
  min-height: 745px;
}

.filter p {
  background-color: #f7f3ec;
  font-size: 13px;
  font-family: "PT Sans";
  text-transform: uppercase;
  line-height: 18px;
  padding: 10px 0 10px 18px;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
  padding-top: 12px;
  padding-bottom: 8px;
}

.filter label {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  display: block;
  padding: 10px 35px;
  position: relative;
}

.filter input[type=checkbox],
.filter input[type=radio] {
  display: none;
}

.manufacturers label::before,
.power label::before,
.manufacturers input:checked + label::before,
.power input:checked + label::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: 8px;
  left: 2px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -113px -74px;
}

.power label::before {
  background-position: -61px -73px;
}

.manufacturers input:checked + label::before {
  background-position: -162px -74px;
}

.power input:checked + label::before {
  background-position: -10px -73px;
}
.price
{
  margin-bottom: 25px;
}

.manufacturers {
  margin-bottom: 10px;
}

.power {
  margin-top: 5px;
}

.power label{
  font-size: 14px;
}

.power legend {
  padding-bottom: 3px;
}
.range-filter {
  width: 220px;
}

.filter .price {
  cursor: pointer;
}

.delimiter {
  height: 1px;
  width: 220px;
  background-color: #e5e5e5;

}
.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  background: #f7f3ec;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls label {
  font-size: 16px;
  display: inline-block;
  width: 50%;
}

.price-controls .dash {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 0 4px;
}

.price-controls input {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 17px;
  width: 75px;
  padding: 8px 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f7f3ec;
}

.filtr-btn {
  background: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  color: #000000;
  text-transform: uppercase;
  padding: 10px 35px;
  font-family: "PT-Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin-top: 70px;
}

.content .catalog {
  float: right;
  width: 700px;
}

.sorting  {
  background-color: #f7f3ec;
  font-size: 13px;
  font-family: "PT Sans";
  text-transform: uppercase;
  line-height: 18px;
}

.sorting input[type=radio] {
  display: none;
}

.sorting .caption-sorting {
  padding-left: 18px;
  padding-right: 70px;
}

.sorting label {
  display: inline-block;
  margin: 10px 0;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  border-bottom: 1px dotted #ee3643;
  margin-left: 67px;
}

.sorting .sorting-up
{
  margin-left: 35px;
}

.sorting .sorting-down
{
  margin-left: 30px;
}

.sorting .sorting-up,
.sorting .sorting-down {
  position: relative;
}

.sorting .sorting-up::before,
.sorting .sorting-down::before{
  content: "";
  position: absolute;
  top: 2px;
  left: 3px;
  width: 16px;
  height: 19px;
  background: url("../img/sprite.png") no-repeat;
  background-position: -140px -45px;
}

.sorting .sorting-down::before{
  background-position: -97px -45px;
}

.sorting label:hover {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.sorting-up:hover::before {
  background-position: -16px -45px;
}

.sorting-down:hover::before {
  background-position: -56px -45px;
}

#btn-sorting-1:checked ~ label[for="btn-sorting-1"],
#btn-sorting-2:checked ~ label[for="btn-sorting-2"],
#btn-sorting-3:checked ~ label[for="btn-sorting-3"]
 {
  color: #ee3643;
  border-bottom: none;
}

#btn-sorting-up:checked ~ label[for="btn-sorting-up"]::before {
  background-position: -221px -45px;
}

#btn-sorting-down:checked ~ label[for="btn-sorting-down"]::before {
  background-position: -181px -45px;
}

.catalog-items-punchers {
  margin-top: 20px;
}

.pagination {
  margin-top: 27px;
}
.pagination a {
  display: inline-block;
  min-width: 37px;
  height: 18px;
  vertical-align: middle;
  text-align: center;
  line-height: 18px;
  text-decoration: none;
  border: 1px solid #e5e5e5;
  font-size: 13px;
  color: black;
  border-radius: 3px;
  padding: 10px 0;
  margin-right: 5px;
}

.pagination a:hover {
  border: 1px solid #bdc6ca;
}

.pagination a:active {
  border: 1px solid #ee3643;
}

.pagination a:first-child{
  background-color: #ee3643;
  color: #ffffff;
}

.pagination a:last-child{
  padding: 10px 20px;
  text-transform: uppercase;
  padding: 10px 30px;
}

.about-punchers {
  background-color: #f2f6f8;
  margin-top: 57px;
}

.about-punchers h2 {
  font-size: 30px;
  font-family: "Cuprum";
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  line-height: 0.8;
  padding-top: 70px;
}

.about-punchers p {
  font-size: 13px;
  font-family: "PT Sans";
  color: rgb(0, 0, 0);
  line-height: 24px;
  padding-top: 30px;
  padding-bottom: 68px;

}
.cart-modal {
  display: none;
}
